<!doctype html>
<html lang="en" ng-app="sumToZero" ng-strict-di>
<head>
  <meta charset="utf-8">
  <title>SumToZero - sample app</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/libs.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller="MainCtrl" ng-cloak>
  <div class="container animated fadeIn">
    <div class="row">
      <div class="well well-lg">
        <label for="numberListTextarea" class="lead">
          In a given array of numbers, what's the number of such
          <mark popover="A sub-array of an array arr[1..N] is such array arr[i..j] that i >= 1 and j <= N and i <= j."
                popover-trigger="mouseenter" popover-placement="bottom">sub-arrays</mark>
          whose elements sum up to zero?
        </label>
        <textarea id="numberListTextarea" class="form-control number-list" rows="1"
                  ng-model="numberList"
                  ng-class="{
                    'failed-validation': !validationResult.valid,
                    'success-validation': validationResult.valid
                  }"></textarea>
        <small>Input a valid Javascript array consisting of numbers.</small>
      </div>
      <div class="well well-lg">
        <div class="alert alert-danger animated fadeIn" role="alert" ng-if="!validationResult.valid">
          <strong>Invalid input</strong>: {{ validationResult.reason }}
        </div>
        <number-of-subarrays-report
                ng-if="validationResult.valid"
                number-list="validationResult.parsed"></number-of-subarrays-report>
      </div>
      <div ng-if="validationResult.valid">
        <number-of-subarrays-visualization number-list="validationResult.parsed"></number-of-subarrays-visualization>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/libs.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/partials.js"></script>
</body>
</html>
