<div class="number-of-subarrays-visualization">
  <div class="text-center">
    <h3>Visualization</h3>
    <small>of all found sub-arrays</small>
  </div>
  <div class="number-blocks">
    <div><div ng-repeat="number in numberList track by $index" class="index-block text-center"
            ng-style="{left: numberBlockWidth * $index + 'px'}">{{$index}}</div></div>
    <div><div ng-repeat="number in numberList track by $index" class="well number-block text-center"
            ng-style="{left: numberBlockWidth * $index + 'px'}">{{number}}</div></div>
  </div>
  <div class="number-intervals">
    <div ng-repeat="interval in intervalList" class="progress-bar number-interval"
         ng-style="{width: interval.width+'px', left: interval.left+'px', top: interval.top+'px'}"
         popover="Range of elements: [{{ ::interval.from }}; {{ ::interval.to}}]"
         popover-trigger="mouseenter" popover-placement="top">
    </div>
  </div>
</div>